div.container {
    width: 100%;
    border: 1px solid gray;
}

body{
  font: 13px/20px 'Lucida Grande', 'Tahoma', 'Verdana', 'sans-serif';
  color: #404040;
  background: #0ca3d2;
}

.header{
  padding: 1em;
  color: white;
  background-color: #f2fcf5;
  clear: left;
  text-align: center;
}

.footer{
  padding: 1em;
  color: white;
  background-color: gray;
  clear: left;
  text-align: center;
  position:absolute;
  right: 0;
  bottom: auto;
  left: 0;
}

#nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #e9e9e9;
}

#nav:after {
    content: "";
    clear: both;
    display: table;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

#nav li {
    margin: 0px;
	float: left;
}

#nav li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    float: left
}

#nav li a:hover {
    color: #FFFFFF;
    background-color: #35af3b;
}

#nav li a.active{
	color: #FFFFFF;
    background-color: #35af3b;
}

.favorites{
    /*margin-left: 170px;*/
    /*border-left: 1px solid gray;*/
    padding: 1em;
    /*overflow: hidden;*/
}

.favorites img{
	height: 200px;
    width: 200px;
    margin-right: 100px;
}

.favorites img.add_favorite{
	height: 100px;
    width: 100px;
    margin-left: 45px;
    margin-right: 100px;
    margin-top: 45px;
}

td span{
	display: block;
}

td.favorite-item{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
    margin-right: 100px;
    margin-left: 25px;
    margin-top: 25px;
}

.caption {
    display: block;
    margin-bottom: 85px;
    width: 100%;
}

.scrollable {
	font-family: "Courier New", monospace;
	font-weight: bold;
	font-size: 18px;
	background: #56d0f5;
    height: 300px;
    overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.video-main {
  background-image: url(./res/profileback.jpg);
  position: center;
  border-radius: 5px;
  padding: 20px;
  clear: left;
}

input.search {
	outline: none;
}

/*Ensure the encased tag is floating to the right*/
#nav .float-right{
	float: right;
}

input[type=text].search {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}

input[type=text].search{
  	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) 
  	no-repeat 9px center;
	border: solid 1px #ccc;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 20em;
	border-radius: 25em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;

	width: 25px;
	height: 30px;
	padding-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 4px;
	margin-right: 10px;
	color: transparent;
	cursor: pointer;

	/*Make the Search icon appear on the right of the nav bar*/
	float: right;
	clear: right;
}

input[type=text].search:hover {
	background-color: #fff;
}

input[type=text].search:focus{
	width: 50vw; /*Expand to 50% of the viewport width*/
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);

	padding-left: 32px;
	color: #000;
	cursor: auto;
	float: right;
	clear: right;
}

input.search:-moz-placeholder {
	color: transparent;

}
input.search::-webkit-input-placeholder {
	color: transparent;
}

/*Refactored Tooltip CSS*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: 150%;
    left: 40%; /*50%*/
    margin-left: -90px; /*-1 * (width / 2)*/

    /* Fade in tooltip - takes 1.5 seconds to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1.5s; /*1s*/
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
/*End Refactored Tooltip CSS*/

.toolbar {
  overflow: hidden;
  background-color: #e9e9e9;
  clear: left;
}

.toolbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.toolbar a:hover {
  background-color: #ddd;
  color: black;
  clear: left;
}

.toolbar a.active {
  background-color: #2196F3;
  color: white;
}

.toolbar input[type=text].search {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.toolbar2{
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
  .toolbar a, .toolbar input[type=text].search {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .toolbar input[type=text].search {
    border: 1px solid #ccc;  
  }
}
.about{
		font-family: Lucida Grande;
		font-size: 20px;
		width: 1100px;
		padding:1in;
		background-color: #dcf1e3;
        border:2px solid gray;
}

.umbc{
color: #f2f844;
text-shadow: 
   -2px -2px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.diet{
color: green;
}

.tracker{
color: blue;
}



