header{
    padding: 1em;
  	color: white;
  	background-color: black;
  	clear: left;
  	text-align: center;
}

body{
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  	color: #404040;
  	background: #0ca3d2;
}


.container{
	width: 100%;
    border: 1px solid gray;
}

.toolbar{
  float: right;
}

.nav {
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.nav2 {
	float: center;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

